<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="../assets/image/logo.png" type="image/x-icon">
    <script src="../assets/js/vue.js">
        
    </script>
    <title>v-for指令</title>
</head>
<body>
    <h1>v-for</h1>
    <hr>
    <div id="app">
        <!--
            sortItems 计算属性 进行排序 需要重新定义
        -->
        <ul>
            <li v-for="item in sortItems" >{{item}}</li>
        </ul>
         <ul>
            <li v-for="student in sortStudents" >
                {{student.name}}--{{student.age}}
                </li>
        </ul>
    </div>
    <script type="text/javascript">
       var app = new Vue({
           el : "#app",
           data : {
              items:[20,23,18,65,32,19,54,56,41],
              students:[
                    {name:'jspang',age:32},
                    {name:'Panda',age:30},
                    {name:'PanPaN',age:21},
                    {name:'King',age:45}]
           },
           computed:{
               // 排序 需要重新声明 否则会污染数据源 vue 不允许
              sortItems:function(){
                  return this.items.sort(sortNumber);
              },
              sortStudents:function(){
                 return sortByKey(this.students,'age')
              }
           }
       })

       // 自定义函数 进行排序 正序
       function sortNumber(a,b){
            return a-b;
       }

       function sortByKey(arr,key){
         return arr.sort(function(a,b){
                var x = a[key];
                var y = b[key];
                console.log(x,y)
                return ((x < y)?-1:((x > y)?1:0));
         })
       }
    </script>
</body>
</html>